<!DOCTYPE html>

<html>
	<head>
		<title>
			{{ page.title }}
		</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="description" content="{{ page.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="stylesheet" type="text/css" href="/css/main.css">
    <script src="https://use.fontawesome.com/1a8dc0ec9f.js"></script>

		<!-- Page-specific stylesheets.  -->
		{% if page.stylesheet %}
			<link rel="stylesheet" type="text/css" href="/css/{{ page.title }}.css">
		{% endif %}
		{% if page.code %}
			<link rel="stylesheet" type="text/css" href="/css/code_color_scheme.css">
			<link rel="stylesheet" type="text/css" href="/css/code.css">
		{% endif %}

	</head>
	<body>
		<!--[if lt IE 7]>
			<p>
				You are using an <strong>outdated</strong> browser. Please
				<a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
			</p>
		<![endif]-->

		<div id="main">
      <div class="nav">
          <h3>$ ls -1 /bin</h3>
          <ul>
            <li><a href="/">home</a></li>
            <li><a href="/work">work</a></li>
            <li><a href="/binoy_resume.pdf" target="_blank">resume</a></li>
            <li><a href="/projects">projects</a></li>
            <li><a href="/notes">notes</a></li>
            <li><a href="mailto:prakash.binoy@gmail.com">contact</a></li>
            <br/>
            <li><a href="https://github.com/binoymichael/"><i class="fa fa-github"></i></a>&nbsp;&nbsp;&nbsp;<a href="https://www.linkedin.com/in/prakash-binoy"><i class="fa fa-linkedin"></i></a></li>
          </ul>
      </div>
      <div class="container">
        {{ content }}
      </div>
		</div>

	</body>
</html>
